<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django_3 form</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>This is list customers :</h1>
            {% if customers %}
            <ol>
                {% for person in customers %}
                <li>
                    Customer Info
                    <ul>
                        <li>First Name : {{ person.first_name }}</li>
                        <li>Last Name : {{ person.last_name }}</li>
                        <li>Email : {{ person.email }}</li>
                    </ul>
                </li>
                {% endfor %}
            </ol>
            {% endif %}
        </div>
    </div>
</body>
</html>