<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django_3 form</title>
</head>
<body>
    
    <h1>Welcome to subsricber page</h1>
    <h2>fill out the following form to subsricber:</h2>
    <div class="container">
        <form method='POST'>
            {{ form.as_p }}
            {% csrf_token %}
            
            <input type='submit' class='btn btn-primary' value ='submit'>
        </form>
    </div>
</body>
</html>